<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.iteatech.helloworldPluginSwift"
    version="0.0.1">

    <name>HelloWorldPluginSwift</name>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <description>This plugin shows you how to integrate ios plugin (in Swift) into your cordova app.</description>
    <author>Jason Tian</author>
    <keywords>helloWorld</keywords>

    <license>MIT</license>

    <js-module src="www/HelloWorldPluginSwift.js" name="HelloWorldPluginSwift">
        <clobbers target="HelloWorldPluginSwift" />
    </js-module>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="HelloWorldPluginSwift">
                <param name="ios-package" value="HelloWorldPluginSwift"/>
                <param name="onload" value="true" />
            </feature>
        </config-file> 
		<header-file src="src/ios/HelloWorldPluginSwift-Bridging-Header.h" />
		<source-file src="src/ios/HelloWorldPluginSwift.swift" />       
    </platform>    

    
</plugin>
